<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
     <header>
         <menu>

             {% if current_user.is_authenticated %}
             <p><a href="/home">home</a></p>
             <p><a href="/logout">logout</a></p>
             <p><a href="/pokemons" >pokemons</a></p>
             <p><a href="{{ url_for('pokemon.favorito') }}">Favorito</a></p>
             {% else%}
             <p><a href="/login">login</a></p>
             <p><a href="/register">register</a></p>
             {% endif %}
         </menu>

             <hr>
             {% with messages = get_flashed_messages() %}
             {% if messages %}
             <ul>
                 {% for message in messages%}
                 <li>{{ message }}</li>
                 {% endfor %}
             </ul>
             {% endif %}
             {% endwith %}

         {% block content %}{% endblock %}
     </header>
</body>
</html>