<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
     <header>
         <menu>
         </menu>

             <hr>
             {% whit messages = get_flashed_messages() %}
             {% if messages%}
             <ul>
                 {% for message in messages%}
                 <li>{{ message }}</li>
                 {% endfor %}
             </ul>
             {% endif %}
             {% endwhit %}

         {% block content %}{% endblock %}
     </header>
</body>
</html>