{% extends "base.html"%}
{% block content %}
    <table border="1">
    <thead>
      <tr>
        <td>ID</td>
        <td>Nome</td>
          <td>Tipo</td>
          <td>Favoritar</td>
      </tr>
    </thead>
        <form action="" method="post">
    <tbody>
      {% for pokemon in pokemon %}
        <tr>
          <td>{{ pokemon.id_pok }}</td>
          <td>{{ pokemon.nome }}</td>
            <td>
                {% for tipo in pokemon.tipos %}
                {{ tipo.tipo }},
                {% endfor %}
            </td>
            <td >{{ form.set() }}</td>
        </tr>
      {% endfor %}
      <p>{{ form.submit() }}</p>
      </form>
{% endblock %}